h1{
    color: lightcoral;
    border: 10px solid red;
    background-color: dimgrey;
}
body{
    background-color: burlywood;
}
img{
    border: 4px solid brown;
    border-radius: 50px;
}
p{
    
    font-weight: italic;
}
ol,ul{
    
    background-color: lightsalmon;
}
.header{
    background-color:aquamarine;
    display:flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    
}
.item {
    
    border-radius: 22px;
    background-color: lightpink;
    width:300px;
    font-family: fantasy;
    
}
